body {
    display: flex;
    flex-flow: column wrap;
  }

.fr-footer {
    padding-top: 0;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    height: 80px;
  }


#sel-layers {
  margin: 4px;
}

#add-layers-div{
  display: flex;
  justify-content: flex-end;
}

#nav-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

#search-784-input {
  width: 39vw;
}

#nav-tools-sidebar-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#id-nav-tools-bar-inner-legend-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

#nav-tools1,
#nav-tools2,
#nav-tools3,
#nav-tools4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

#sidebar{
  margin-left: 0;
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
}

.no-sidebar #sidebar{
  transition: all 0.25s;
  
}

/* .image_box{
  width:100vw !important;;
  height:500px !important;;
} */

.map-container-left-at-startup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_box-video {
  width: 100%;
  height: 100%;
}

.image_box
{
  /* height: 120px; */
  resize: both;
  overflow: hidden;
  /* border: 1px solid red; */
  z-index: 1;
}