/* geocoder */
div#geocoder {
	background-color: white;
	position: absolute;
	top: 55px;
	right: 2px;
	width: auto;
	max-width: 400px;
	height: auto;
	padding: 10px;
	z-index: 1000;
	opacity: 0.9;
}

div#geocoder textarea {
	width: 340px;
	height: 200px;
}

div#geocoder button {
	position: relative;
	top: 5px;
}

.results {
	padding: 6px 8px;
	font: 14px/16px Quattrocento Sans;
	color: red;
}


input[type=range] {
/*
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
*/
	/*removes default webkit styles*/
	-webkit-appearance: none;
	/*fix for FF unable to apply focus style bug */
	border: 1px solid white;
	/*required for proper track sizing in FF*/
	width: 200px;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 200px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #5AA2A7;
	margin-top: -4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

input[type=range]::-moz-range-track {
	width: 200px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #5AA2A7;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type=range]::-ms-track {
	width: 200px;
	height: 5px;
	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;
	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;
	/*remove default tick marks*/
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}

input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #5AA2A7;
}

input[type=range]:focus::-ms-fill-lower {
	background: #888;
}

input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}




div#mapbuttons {
	/*background-color: white;*/
	position: absolute;
	bottom: 10px;
	left: 50px;
	width: auto;
	height: auto;
	/*padding: 10px;*/
	z-index: 1000;
	opacity: 0.9;
}

div#mapbuttons button {
	height:40px;
	width:100px;
	background-color: white;
	border-radius: 10px;
}
